<h1>HIPAA Compliance</h1>
<div style="margin: 0 80px; 0 10px;">
	<p>Healer Source is hosted at SoftLayer's Dallas Data Center. SoftLayer is a subsidiary of IBM and is HIPAA Compliant.<br><a href="http://www.softlayer.com/data-centers" target="_blank">http://www.softlayer.com/data-centers</a> <br>
		<a href="http://www.softlayer.com/compliance" target="_blank">http://www.softlayer.com/compliance</a></p>

	<p><strong>&sect; 164.302 Applicability.</strong></p>
	<p>A covered entity must comply with the applicable standards, implementation specifications, and requirements of this subpart with respect to electronic protected health information.</p>
	<p><strong>&sect; 164.304 Definitions. </strong></p>
	<p>As used in this subpart, the following terms have the following meanings:</p>
	<ul>
		<li><em>Access </em>means the ability or the means necessary to read, write, modify, or communicate data/information or otherwise use any system resource. (This definition applies to "access" as used in this subpart, not as used in subpart E of this part.)</li>
		<li><em>Administrative safeguards </em>are administrative actions, and policies and procedures, to manage the selection, development, implementation, and maintenance of security measures to protect electronic protected health information and to manage the conduct of the covered entity's workforce in relation to the protection of that information.</li>
		<li><em>Authentication </em>means the corroboration that a person is the one claimed.</li>
		<li><em>Availability </em>means the property that data or information is accessible and useable upon demand by an authorized person.</li>
		<li><em>Confidentiality </em>means the property that data or information is not made available or disclosed to unauthorized persons or processes.</li>
		<li><em>Encryption </em>means the use of an algorithmic process to transform data into a form in which there is a low probability of assigning meaning without use of a confidential process or key.</li>
		<li><em>Facility </em>means the physical premises and the interior and exterior of a building(s).</li>
		<li><em>Information system </em>means an interconnected set of information resources under the same direct management control that shares common functionality. A system normally includes hardware, software, information, data, applications, communications, and people.</li>
		<li><em>Integrity </em>means the property that data or information have not been altered or destroyed in an unauthorized manner.</li>
		<li><em>Malicious software </em>means software, for example, a virus, designed to damage or disrupt a system.</li>
		<li><em>Password </em>means confidential authentication information composed of a string of characters.</li>
		<li><em>Physical safeguards </em>are physical measures.</li>
	</ul>
	<p><strong>&sect; 164.312 Technical safeguards. </strong></p>
	<p>A covered entity must, in accordance with &sect;164.306: (a)(1) <em>Standard: Access control. </em>Implement&nbsp;technical policies and procedures for electronic information systems that maintain electronic protected health information to allow access only to those persons or software programs that have been granted access rights as specified in &sect;164.308(a)(4).</p>
	<p>(2) Implementation specifications:</p>
	<p>(i) Unique user identification (Required). Assign a unique name and/or number for identifying and tracking user identity.</p>
	<p class="message black_text">All users of Healer Source have a unique username (email address).</p>
	<p>(ii) Emergency access procedure (Required). Establish (and implement as needed) procedures for obtaining necessary electronic protected health information during an emergency.</p>
	<p class="message black_text">
		<b>Physical Security</b><br>
		SoftLayer's Data Centers feature closed-circuit video monitoring and 24x7x365 security patrols. Employee access is restricted by Proximity badges + Biometric Fingerprint scans.
		<br><br>
		From SoftLayer's website:<br> "Every location is hardened against physical intrusion, and server room access is limited to certified employees. All of our controls (inside and outside the data center) are vetted by third-party auditors, and we provide detailed reports for our customers' own security certifications."<br><br>
		<b>Regulated Climate Control</b><br>
		SoftLayer maintains a redundant N+1 cooling infrastructure to guarantee stability in their data center pods. All equipment is regularly inspected and tested.<br><br>
		<b>Uninterrupted Power</b><br>
		All SoftLayer data centers maintain multiple power feeds, fiber links, dedicated generators, and battery backup. They are built from industry-leading hardware and equipment, ensuring the highest level of performance, reliability, and interoperability.
	</p>

	<p>(iii) <em>Automatic logoff </em>(Addressable). Implement electronic procedures that terminate an electronic session after a predetermined time of inactivity.</p>
	<p class="message black_text">Healer Source has automatic session logoff features.  After an extended period of time, a user will be will be automatically logged off.</p>
	<p>(iv) <em>Encryption and decryption </em>(Addressable). Implement a mechanism to encrypt and decrypt electronic protected health information.</p>
	<p class="message black_text">Healer Source uses 256 bit encryption to secure private health data.</p><p>
</p><p>(b) <em>Standard: </em>Audit controls<em>. </em>Implement hardware, software, and/or procedural mechanisms that record and examine activity in information systems that contain or use electronic protected health information.</p>
	<p class="message black_text">Healer Source uses log files, along with tracking user activity for security auditing.</p>
	<p>(c)(1) Standard:<em> </em>Integrity<em>. </em>Implement policies and procedures to protect electronic protected health information from improper alteration or destruction.</p>
	<p class="message black_text">Only authorized Healer Source users have the ability to change information. </p>
	<p>(2) Implementation specification: Mechanism to authenticate electronic protected health information (Addressable). Implement electronic mechanisms to corroborate that electronic protected health information has not been altered or destroyed in an unauthorized manner.</p>
	<p>(d) Standard: Person or entity authentication. Implement procedures to verify that a person or entity seeking access to electronic protected health information is the one claimed.</p>
	<p class="message black_text">Healer Source requires authentication before access is granted to health information.</p><p>
</p><p>(e)(1) Standard: Transmission security<em>. </em>Implement technical security measures to guard against unauthorized access to electronic protected health information that is being transmitted over an electronic communications network.</p>
	<p class="message black_text">All communication is encrypted using 256-bit SSL for transmission.</p>
	<p>(2) Implementation specifications:</p>
	<p>(i) Integrity controls (Addressable). Implement security measures to ensure that electronically transmitted electronic protected health information is not improperly modified without detection until disposed of.</p>
	<p class="message black_text">After a clinical note has been finalized and saved, it is not possible to modify or delete that clinical note.  </p>
	<p><em>&nbsp;</em>(ii) Encryption (Addressable). Implement a&nbsp;mechanism to encrypt electronic protected health information whenever deemed appropriate.</p>
	<p class="message black_text">Healer Source uses 256 bit encryption to secure private health data.</p>
</div>