{% extends 'site_base.html' %}

{% block head_title %}Schedule{% endblock %}

{% block page_title %}<h1 class="nav_icon nav_schedule">Schedule</h1>{% endblock %}

{% block body %}
	<a href="{{ STATIC_URL }}healersource/img/tour/tour_schedule_preview_big.gif" class="floatbox"><img src="{{ STATIC_URL }}healersource/img/tour/schedule.jpg" style="height: 108px; float: left; border: 2px solid #bbb; margin-right: 12px; border-radius: 5px;" /></a>
	<p>Scheduling is currently disabled for Spas and Wellness Centers.</p>
	<p>We're working on a fully featured group scheduler and are currently looking for <br />a center to give us feedback.</p>
	<p style="font-style: italic;">If you are interested in being part of the design process, please <a class="contact">Contact Us</a>.</p>
{% endblock %}