<ul style="padding-left: 27px;">
	<li>Set Your Availability and Create Appointments with our effortless drag-and-drop interface</li>
	<li>You'll Automatically Receive an Email and Text Message (SMS) Each Time Someone Books a New Appointment</li>
	<li>Repeating Appointments - Daily, Weekly, Monthly or anything in between!</li>
	<li>Availability can be One-Time or on a recurring Weekly Basis</li>

	<li class="new_section">Create Unlimited Treatment Types and Length Options you offer</li>
	<li>Automatically Leave Setup Time Between Appointments</li>
	<li>Set your own Minimum Advance Notice for Bookings</li>

	<li class="new_section">Automatic Appointment Reminders for Your Clients by Email</li>
	<li>SMS / Text Message Appointment Reminders for you and your Clients</li>
	<li>Customize Your Confirmation Emails to Your Clients</li>
	<li>Set a Custom Cancellation Policy</li>

	<li class="new_section">Add Multiple Locations</li>
	<li>Appointment History</li>
	<li>Set Your Time Off</li>

	<li class="new_section">Seamless Integration with your own website - Embed Directly into your site</li>
	<li>Works on iPhone and Android - Schedule on the go!</li>
	<li>Sync with Google Calendar</li>

	<li class="new_section">Client Database - Manage all your contact information right from HealerSource</li>
	<li>Manual or Automatic Appointment Confirmation - <br />
		Screen all your new appointments before they're confirmed
	</li>
	<li>Schedule Privacy - Make your schedule public OR visible to Your Clients Only</li>
	<li>Completely FREE for Individual Providers</li>
</ul>