	<p>
		We created HealerSource for you to learn about all the opportunities that alternative medicine has to offer - so you can reach your highest wellbeing.
</p>

{#<p>Every HealerSource Provider has been personally recommended by members of our community. You can also use our <em>Facebook Recommends&#0153;</em> tool to find out who your friends like. </p>#}

<p>Our mission is to bridge the gap between practitioner and client, and to give you access to the best providers near you.</p>

<p>We know your path to wellness is unique - and finding just the right match for you is what matters most.</p>

<p><em>We're here to make that connection.</em></p>
