{% extends "django_messages/base.html" %}

{% load i18n %}
{% load timezone_filters %}
{% load account_tags %}

{% block page_title %}<h1>{% trans "Sent Messages" %}</h1>{% endblock %}

{% block body %}

	{% include "django_messages/inbox_nav.html" %}

	{% if message_list|length < 1 %}
		<p class="message">No Sent Messages.</p>
	{% else %}
		<table class="messages">
{#			<thead>#}
{#			<tr><th scope="col">{% trans "Recipient" %}</th><th scope="col">{% trans "Subject" %}</th><th scope="col">{% trans "Sent" %}</th></tr>#}
{#			</thead>#}
			<tbody>
			{% for message in message_list %}
				<tr>
					<td>{{ message.sent_at|localtime:account.timezone|date:"n/d/y g:m a" }}</td>
					<td scope="row">{{ message.recipient.client|capfirst }}</td>
					<td class="email_subject">
					<a href="{{ message.get_absolute_url }}" class="message_subject floatbox" data-fb-options="type:ajax width:450">{{ message.subject }}</a>
					</td>
					<td>&nbsp;|&nbsp;<a href="{% url 'messages_delete' message.id %}?next={% url 'messages_outbox' %}">{% trans "delete" %}</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}