{% extends "django_messages/base.html" %}

{% load i18n %}
{% load timezone_filters %}
{% load account_tags %}

{% block page_title %}<h1>{% trans "Deleted Messages" %}</h1>{% endblock %}

{% block body %}

	{% include "django_messages/inbox_nav.html" %}

	{% if message_list|length < 1 %}
		<p class="message">No Deleted Messages.</p>
	{% else %}
		<table class="messages">
{#			<thead>#}
{#			<tr><th scope="col">{% trans "Sender" %}</th><th scope="col">{% trans "Subject" %}</th><th scope="col">{% trans "Date" %}</th></tr>#}
{#			</thead>#}
			<tbody>
			{% for message in message_list %}
				<tr>
					<td style="white-space: nowrap;">{{ message.sent_at|localtime:account.timezone|date:"n/d/y g:m a" }}</td>
					<td scope="row">{{ message.sender.client|capfirst }}</td>
					<td class="email_subject">
					{{ message.subject }}
					</td>
					<td>&nbsp;|&nbsp;<a href="{% url 'messages_undelete' message.id %}">{% trans "undelete" %}</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}