<div class="links">
	<a class="active" onclick="enable_mode('all', this)">All</a><a onclick="enable_mode('facebook', this)">FB</a><a onclick="enable_mode('urgent', this)">Urgent</a><a onclick="enable_mode('favorites', this)">Fave</a><a onclick="enable_mode('received', this)">Rec</a>
</div>
<div id="list"></div>
<div id="facebook" style="display: none;">
	<a href="javascript:void(0);" onclick="facebook_invite()">Invite Friends</a>
</div>
<div class="single_button" id="version_update" style="display: none;">New Version Available!<div><a href="javascript:update_version()">Update Now</a></div></div>