{% extends 'base_phonegap2.html' %}
{% load compress %}
{% block extra_head %}
	{% compress css %}
		<link rel="stylesheet" href="css/login.css" />
	{% endcompress %}
	<script>
		$(function() {
			changeBackButton(function(){
				document.location.href = "crop_photo.html";
			});
		});
	</script>
{% endblock %}


{% block body %}
	<div class="application2_container">
        <div id="menu">
			<a class="back_arrow_container" href="crop_photo.html"><div class="back_arrow"></div></a>
			<div class="header_title">Create a Listing?</div>
			<div class="header_logo_container"><a href="https://www.healersource.com" target="_blank"><div class="header_logo"></div></a></div>
			<hr class="clearfix">
			<p style="font-weight: bold;">Are you a Holistic Wellness Provider?</p>
			<p>HealerSource is an online directory of Massage
				Therapists, Energy Workers, Yoga and Fitness
				Instructors, Nutritionists, Coaches, Counselors,
				and many, many other specialties.</p>
			<p>We give you a completely free listing as a way of
				making healing more accessible to the greater
				public.</p>
			<p>Would you like to join over 2,000 other providers
				in our directory?</p>
			<p class="answer_link"><a href="create_profile.html">Yes I'd love a free listing!</a></p>
			<p class="answer_link"><a href="list.html">Not right now.. I just want to start using this app.</a></p>
		</div>
	</div>
{% endblock %}
