<div class="center" style="margin-top:16px;">
	<div class="grey_box" style="display: inline-block; background-color: #f2f3f3; cursor: pointer;padding: 3px 8px 0 8px;"
	     onmouseout="$(this).removeClass('single_button');"
	     onmouseover="$(this).addClass('single_button');"
	     onclick="window.open('https://www.healersource.com');" >
		<img src="{{ STATIC_URL }}healersource/img/home/logo.png" height="22" class="grey_box1" />
		{#		&raquo;&nbsp;#}
		{#		Find More Wellness Practioners at#}
		{#				<u>www.HealerSource.com</u>#}
	</div>
</div>