<div id="add_timeoff_dlg" class="calendar_dialog">
	<form>
		<ul>
			<li><label for="all_day" style="position: relative; left: 195px;"><input type="checkbox" id="all_day" checked/> All day</label></li>
			<li><label for="start_date">Start: </label>
				<input type="text" name="start_date" value="" style="width: 100px;" class="datepicker"/>
				<input name="start_time" style="margin-left: 4px;" class="timepicker" disabled/></li>
			<li><label for="end_date">End: </label>
				<input type="text" name="end_date" value="" style="width: 100px;" class="datepicker"/>
				<input name="end_time" style="margin-left: 4px;" class="timepicker" disabled/></li>
		</ul>
	</form>
</div>

<div id="delete_timeoff_dlg" class="calendar_dialog">
	<p>Are you sure you want to delete this Time Off?</p>
</div>