{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>www.HealerSource.com Iframe Test</title>
</head>

<body>
	<iframe src="http://127.0.0.1:8009/schedule/embed/daniel" width="700" height="731" style="border:1px solid blue"></iframe>
{#<iframe src="http://127.0.0.1:8009/schedule/embed/admin_at_healersource" width="700" height="731" style="border:1px solid blue"></iframe>#}
</body>
</html>